/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.page-layout--left-panel,
	.page-layout--right-panel {
		display: none;
	}

	.page-layout--middle-panel {
		margin: 0 0.6em;

		> article {
			overflow-y: auto;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.page-layout--header {
		.title {
			display: block;
		}
	}
	
	.page-layout--left-panel,
	.page-layout--right-panel {
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}