@import (reference) "../constants/colors.less";
@import (reference) "../mixins/icons.less";
@import (reference) "../mixins/buttons.less";

@media only screen and (min-width : 320px) {
	.login--user-toolbar {
		.user-information,
		.logout-link,
		.login-links {
			display: none;
		}

		.nav-menu-button {
			.button-unstyled();
			
			&::before {
				.icon-menu();
				font-size: 1.5em;
			}
		}

		&.menu-opened::before {
			border-top-width: 0.89em;
			border-bottom-width: 0.33em;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.login--user-toolbar {
		> div,
		> a,
		.login-links {
			display: initial;
		}

		&::before {
			content: none;
		}
	}
}
