@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?a79fhm');
	src:url('fonts/icomoon.eot?#iefixa79fhm') format('embedded-opentype'),
		url('fonts/icomoon.woff?a79fhm') format('woff'),
		url('fonts/icomoon.ttf?a79fhm') format('truetype'),
		url('fonts/icomoon.svg?a79fhm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
	content: "\e600";
}
.icon-user:before {
	content: "\e601";
}
.icon-remove:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-enter:before {
	content: "\e604";
}
.icon-exit:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-bubble:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e60b";
}
.icon-thumbs-up:before {
	content: "\e60c";
}
.icon-close:before {
	content: "\e608";
}
.icon-facebook2:before {
	content: "\e609";
}
.icon-facebook3:before {
	content: "\e60a";
}
