@import (reference) "color-scheme.less";

@colors-light-blue: #b3d4fc;

@colors-background-light: @color-primary-1;

@colors-background-dark: @color-primary-0;

@colors-page-background: @colors-background-light;

@colors-sidebar-background: @colors-background-dark;

@colors-link-text: @color-primary-2;

@colors-selection: @colors-light-blue;

@colors-text-inverted: #FFFFFF;

@colors-alert: #FF0000;
