@import (reference) "../mixins/icons.less";

.global-nav-dialog {
	&--options-list {
		> li {
			text-align: center;
		}

		button,
		a {
			width: 100%;
			font-size: 2.5em;
			-webkit-appearance: none;
			-moz-appearance: none;
			background: none;
			border: none;
		}

		a,
		a:hover,
		a:visited,
		a:active,
		a:link {
			color: inherit;
			text-decoration: none;
			text-align: center;
		}

		&--option {
			&::before {
				font-size: 0.8em;
			}
		}

		&--option--login {
			&::before {
				.icon-enter();
			}
		}

		&--option--search {
			&::before {
				.icon-search();
			}
		}

		&--option--logout {
			&::before {
				.icon-exit();
			}
		}

		&--option--profile {
			&::before {
				.icon-user();
			}
		}
	}
}