@import (reference) "../constants/colors.less";

.notifications-dialog-list {
	.notification-item {
		&.seen {
			background-color: @colors-background-dark;
			color: @colors-text-inverted;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}
