@import (reference) "constants/colors.less";
@import (reference) "constants/fonts.less";
@import (reference) "mixins/page-sections.less";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	font-size: 14px;
	line-height: 1.4;
}

::-moz-selection,
::selection {
	background: @colors-selection;
	text-shadow: none;
}

body {
	display: flex;
	flex-direction: column;
	font: @fonts--size--page @fonts--face--page;
	background-color: @colors-page-background;
}

ul,
ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.page-layout--header {
	z-index: 1;
	
	.title {
		.fonts-header-title();

		a {
			&,
			&:link,
			&:visited,
			&:active {
				text-decoration: none;
				color: inherit;
			}
		}
	}
}

.page-layout--main {
	flex: 1;
	display: flex;
	flex-direction: row;

	&.single-column {
		.page-layout--left-panel,
		.page-layout--right-panel {
			display: none;
		}
	}
}

.page-layout--left-panel {
	order: 1;
	background-color: @colors-sidebar-background;
	width: 20%;
}

.absolute-full-size() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.page-layout--middle-panel {
	order: 2;
	flex: 1;
	position: relative;

	> div,
	> article,
	> section {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.scrolling-section {
	.absolute-full-size();
	overflow: auto; 
}

.page-layout--right-panel {
	order: 3;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
