@import (reference) "./constants/config.less";
@import (reference) "constants/borders.less";
@import (reference) "constants/colors.less";

.login-section {
	.sso-buttons {
		.facebook {
			@colors-facebook-blue: #3B5998;

			-webkit-appearance: none;
			-moz-appearance: none;
			background: none;
			border: none;

			display: inline-flex;
			align-items: center;

			color: @colors-text-inverted;

			background-color: @colors-facebook-blue;
			border-radius: @borders-border-radius;

			&::before {
				content: "";
				display: inline-block;
				background-image: url('@{static-path}/images/fb-logo-blue-bg.svg');
				background-size: 100%;
				width: 24px;
				height: 24px;
				margin-right: 5px;
			}
		}
	}
}