@import "./constants/config.less";

@font-face {
	font-family: 'icomoon';
	src: url('@{static-path}/images/icon-font/icomoon.eot?-cgavxq');
	src: url('@{static-path}/images/icon-font/icomoon.eot?#iefix-cgavxq') format('embedded-opentype'),
		 url('@{static-path}/images/icon-font/icomoon.woff?-cgavxq') format('woff'),
		 url('@{static-path}/images/icon-font/icomoon.ttf?-cgavxq') format('truetype'),
		 url('@{static-path}/images/icon-font/icomoon.svg?-cgavxq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import (less) "normalize.min.css";
@import "global-styles.less";
@import "layout.less";
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "overrides/bootstrap.less";
@import "questions.less";
@import "palette.less";
@import "login.less";
@import "forms.less";
@import "page-header.less";
@import "widgets/modal-dialog.less";
@import "dialogs/global-nav-dialog.less";
@import "dialogs/notifications-dialog.less";
@import "search/search-form.less";
@import "user-toolbar.less";
@import "user-profile.less";
@import "user-information.less";
@import "notifications.less";
@import "admin/facebook-sync/dashboard.less";

// Mobile

@import "mobile/layout.less";
@import "mobile/overrides/bootstrap.less";
@import "mobile/user-toolbar.less";
@import "mobile/page-header.less";
@import "mobile/widgets/modal-dialog.less";
@import "mobile/posts/question-detail.less";