@import "constants/colors.less";
@import "constants/fonts.less";
@import "mixins/buttons.less";

.notifications-button {
	.button-unstyled();
	background-color: @colors-alert;
	border-radius: 100%;
	width: 1.4em;
	height: 1.4em;
	padding: 3px;
	display: block;
	color: @colors-text-inverted;
	font-size: @fonts--size--small;
	position: absolute;
	top: 5px;
	margin-right: 5px;
	right: 100%;
	line-height: 1;
	
	&:not([data-notifications-count]),
	&[data-notifications-count="0"] {
		display: none;
	}

	&::before {
		content: attr(data-notifications-count);
	}
}
