.page-layout--header {
	.navbar {
		display: flex;
	}

	.post-navigation-link {
		display: none;
	}

	.post-list-header {
		.post-navigation-link {
			display: inline-block;
		}
	}

	.navbar-nav {
		margin-left: auto;
		margin-right: 1em;
	}

	.nav-link .glyphicon {
		font-size: 16px;
	}

	@media only screen and (max-width: 480px) {
		// Hide labels on small screens
		.nav-label {
			display: none;
		}
	}
}

