@import (reference) "constants/color-scheme.less";

.color-primary {
	width: 20px;
	height: 20px;
}

.color-primary-0 {
	background-color: @color-primary-0;
}

.color-primary-1 {
	background-color: @color-primary-1;
}

.color-primary-2 {
	background-color: @color-primary-2;
}

.color-primary-3 {
	background-color: @color-primary-3;
}

.color-primary-4 {
	background-color: @color-primary-4;
}

.palette {
	position: fixed;
	border: 2px solid black;
	right: 0;
	background-color: white;
	display: none;

	dt,
	dd {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
}
