@import (reference) "constants/colors.less";
@import (reference) "constants/fonts.less";
@import (reference) "mixins/buttons.less";
@import (reference) "mixins/icons.less";
@import (reference) "mixins/text-utils.less";

.questions--question-nav-list-item {
	a {
		color: @colors-link-text;
	}
}

.post {
	&[data-indentation-level="0"],
	&[data-indentation-level="1"] {
		> .comment-list {
			margin-left: 1.5em;
		}
	}

	.posted-date {
		display: inline-block;
	}

	.view-on-facebook-link {
		font-size: 0;
		line-height: 0;
		color: transparent;

		&,
		&:visited,
		&:link,
		&:active {
			color: transparent;
			text-decoration: none;
		}

		&::after {
			.icon-facebook-box();
			font-size: 16px;
			line-height: normal;
			color: blue;
		}
	}
}

.post-header {
	position: relative;

	.delete-post-button {
		font-size: 0;
		order: 3;
		.button-unstyled();

		&::before {
			.icon-close();
			font-size: 16px;
		}
	}
}

.question-detail {
	display: flex;
	flex-direction: column;

	> div,
	> form,
	> article {
		flex: 0 0 auto;
	}

	.post-header {
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.3em;

		h4 {
			margin: 0;
			order: 0;
		}

		.user-information {
			order: 1;
		}

		.posted-date {
			order: 2;
			font-size: @fonts--size--small;
		}
	}

	.comment-form-container {
		.post-actions-container {
			position: relative;
		}

		.show-add-comment-form-button {
			display: inline-block;
			-webkit-appearance: none;
			-moz-appearance: none;
			border: none;
			background: none;

			&::before {
				.icon-reply();
			}
		}

		.like-post-button {
			.button-unstyled();

			&[data-post-like-count]:not([data-post-like-count="0"])::after {
				content: attr(data-post-like-count);
				position: absolute;
				right: 0;
				top: 99999px;
				font-size: 0.8em;
				margin: 0.25em -0.25em 0 0;
			}

			&.is-liked {
				&::before {
					color: blue;
				}
			}
		}

		.add-comment-form {
			height: 0;
			overflow: hidden;

			&.opened {
				height: auto;
				overflow: visible;
			}
		}
	}

	.comment-list {
		overflow-y: auto;
		flex: 1;
	}
}
