.user-information {
	@no-photo-dimensions: 25px;

	display: inline-block;

	.name {
		display: flex;
		flex-direction: row;
		align-items: center;

		.profile-photo {
			max-width: 40px;
			max-height: 40px;
		}

		.profile-link {
			&,
			&:link,
			&:visited {
				text-decoration: none;
				color: inherit;
			}
		}
	}
}