.login--user-toolbar {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.25em 0.25em 0 0;

	.login-links {
		> li {
			display: inline-block;
			
			&::after {
				content: "|";
			}

			&:last-child::after {
				content: none;
			}
		}
	}
}