@import (reference) '../constants/config.less';

@icons-svg-path: '@{static-path}/images/svg';

.icon-pseudo-content(@code-point) {
	font-family: 'icomoon';
	content: '\e@{code-point}'
}

.icon-background(@icon-name) {
	background-image: url("@{icons-svg-path}/@{icon-name}.svg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon-reply() {
	.icon-reply(pseudo);
}

.icon-reply(pseudo) {
	.icon-pseudo-content('600');
}

.icon-reply(background) {
	.icon-background(@icon-name: 'reply');
}

.icon-user() {
	.icon-user(pseudo);
}

.icon-user(pseudo) {
	.icon-pseudo-content('601');
}

.icon-user(background) {
	.icon-background('user');
}

.icon-menu() {
	.icon-menu(pseudo);
}

.icon-menu(pseudo) {
	.icon-pseudo-content('603');
}

.icon-menu(background) {
	.icon-background('menu');
}

.icon-enter() {
	.icon-enter(pseudo);
}

.icon-enter(pseudo) {
	.icon-pseudo-content('604');
}

.icon-enter(background) {
	.icon-background('enter');
}

.icon-exit() {
	.icon-exit(pseudo);
}

.icon-exit(pseudo) {
	.icon-pseudo-content('605');
}

.icon-exit(background) {
	.icon-background('enter');
}

.icon-exit() {
	.icon-exit(pseudo);
}

.icon-exit(pseudo) {
	.icon-pseudo-content('605');
}

.icon-exit(background) {
	.icon-background('enter');
}

.icon-facebook-box() {
	.icon-facebook-box(pseudo);
}

.icon-facebook-box(pseudo) {
	.icon-pseudo-content('606');
}

.icon-facebook-box(background) {
	.icon-background('facebook');
}

.icon-speech-bubble() {
	.icon-speech-bubble(pseudo);
}

.icon-speech-bubble(pseudo) {
	.icon-pseudo-content('607');
}

.icon-speech-bubble(background) {
	.icon-background('bubble');
}

.icon-close() {
	.icon-close(pseudo);
}

.icon-close(pseudo) {
	.icon-pseudo-content('608');
}

.icon-close(background) {
	.icon-background('close');
}

.icon-facebook-bare() {
	.icon-facebook-bare(pseudo);
}

.icon-facebook-bare(pseudo) {
	.icon-pseudo-content('609');
}

.icon-facebook-bare(background) {
	.icon-background('facebook2');
}

.icon-facebook-circle() {
	.icon-facebook-circle(pseudo);
}

.icon-facebook-circle(pseudo) {
	.icon-pseudo-content('60a');
}

.icon-facebook-circle(background) {
	.icon-background('facebook3');
}

.icon-search() {
	.icon-search(pseudo);
}

.icon-search(pseudo) {
	.icon-pseudo-content('60b');
}

.icon-search(background) {
	.icon-background('search');
}

.icon-thumbs-up() {
	.icon-thumbs-up(pseudo);
}

.icon-thumbs-up(pseudo) {
	.icon-pseudo-content('60c');
}

.icon-thumbs-up(background) {
	.icon-background('thumbs-up');
}

.icon-logout() {
	.icon-exit();
}
