._hidden-accessible-text-hide() {
	position: absolute;
	top: 0;
	left: -99999px;
}

._hidden-accessible-text-show() {
	position: absolute;
	top: 0;
	left: 99999px;
}

.hidden-accessible-text(before) {
	._hidden-accessible-text-hide();

	&::before {
		._hidden-accessible-text-show();
	}
}

.hidden-accessible-text(after) {
	._hidden-accessible-text-hide();

	&::after {
		._hidden-accessible-text-show();
	}
}

.hidden-accessible-text(both) {
	._hidden-accessible-text-hide();

	&::before,
	&::after {
		._hidden-accessible-text-show();
	}
}
