@import (reference) "constants/colors.less";
@import (reference) "constants/borders.less";
@import (reference) "mixins/icons.less";
@import (reference) "mixins/text-utils.less";

.modal-dialog-backdrop {
	@modal-dialog-backdrop-background-color: #000000;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: fade(@modal-dialog-backdrop-background-color, 30%);

	z-index: 100;

	.modal-dialog {
		background-color: @colors-background-light;
		border-radius: @borders-border-radius;
	}

	.modal-dialog--header {
		position: relative;
		background-color: @colors-background-dark;
		margin-bottom: 1em;

		h3 {
			text-align: center;
			margin: 0;
			padding: 0.25em 0;
		}

		.close-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			background: none;
			border: none;

			.hidden-accessible-text(after);
			right: 0;

			&::after {
				.icon-close();
				right: 0.85em;
				margin-top: 9px;
			}
		}
	}
}